<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>flood-socket</title>
        <meta name="description" content="socket a flood">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="css/style.css" type="text/css" rel="stylesheet">

        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

        <script>window.twttr = (function(d, s, id) {
      		var js, fjs = d.getElementsByTagName(s)[0],
        	t = window.twttr || {};
      		if (d.getElementById(id)) return;
      		js = d.createElement(s);
      		js.id = id;
      		js.src = "https://platform.twitter.com/widgets.js";
      		fjs.parentNode.insertBefore(js, fjs);

      		t._e = [];
      		t.ready = function(f) {
        		t._e.push(f);
      		};

      		return t;
    	}(document, "script", "twitter-wjs"));
    	</script>

        <link rel="stylesheet" href="css/core.css">

  </head>
  <body>

  	<!--[if lt IE 8]>
  		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  	<![endif]-->
      
      <!-- socket.io -->
      <script src="/socket.io/socket.io.js"></script>
      
  	<!-- APP CODE -->
  	<script src="js/tweet_timeline.js"></script>

    <div id="summary">
      <h1></h1>
    </div>

    <div id="columns">
      <div id="tweets_column1">
      </div>  
      <div id="tweets_column2">
      </div>  
      <div id="tweets_column3">
      </div> 
      <div id="tweets_column4">
      </div>   
    </div>

    <!--
  	<div id="tweetlog">
  	</div>		

  	<div id="tweetlist">
    </div>	
    -->

  </body>
</html>
